<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Todo App</title>
    </head>
    <style media="screen">
        .hidden {
            display: none;
        }
        ul {
            list-style: none;
            width: 200px;
        }
        li {
            clear: both;
        }
        li button {
          -webkit-appearance: none;
          border: none;
          outline: none;
          color: red;
          float: right;
          cursor: pointer;
          font-size: 20px;
        }
        .lists-wrapper, .todos-wrapper {
          display: inline-block;
          vertical-align: top;
        }
    </style>
    <body>

        <div id="error" class="hidden">
            Something went wrong!
        </div>

        <form id="form">
            <div >
                <label for="todo">Create a To-Do</label>
                <input type="text" id="description"
                    name="description">
            </div>
            <div>
                <input type="submit" name="submit" id="submit" value="Create">
            </div>
        </form>

        <ul id="todos">
            {% for d in data %}
            <li>
                <input class="check-completed" data-id = "{{ d.id }}"
                    type="checkbox" {% if d.completed %} checked {% endif %} />
                    <!-- checked here equals to true in the table -->
                {{ d.description }}
                <button type="button" id="delete" data-id = "{{ d.id }}"
                    name="button">&cross;</button>
            </li>
            {% endfor %}
        </ul>


    <script type="text/javascript">

        const deleteButtons = document.querySelectorAll("#delete");

        for (let i = 0; i < deleteButtons.length; i++) {
            const deleteButton = deleteButtons[i];
            deleteButton.addEventListener("click", (e)=>{
                e.preventDefault();
                console.log("delete event", e);
                const deleteId = e.target.dataset["id"];
                fetch ("/todos/" + deleteId + "/delete", {
                    method: "POST"
                })
                .then( () => {
                    document.querySelector("#error").className = "hidden";
                })
                .catch( (error)=> {
                     console.log(error)
                     document.querySelector("#error").className = "";
                })
            })
        }


        const checkboxes = document.querySelectorAll(".check-completed");
        for (let i = 0; i < checkboxes.length; i++) {
            const checkbox = checkboxes[i];
            checkbox.onchange = function(e){
                console.log("event", e);
                const todoId = e.target.dataset["id"];
                const newCompleted = e.target.checked; // sets check to true
                fetch ("/todos/" + todoId + "/set-completed", {
                    method: "POST",
                    body: JSON.stringify( {
                        'completed': newCompleted // may be can be just True?
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then( () => {
                    document.querySelector("#error").className = "hidden";
                })
                .catch( (error)=> {
                     console.log(error)
                     document.querySelector("#error").className = "";
                })
            }
        }

        document.querySelector("#form").onsubmit = function(e) {
           e.preventDefault(); //so the page doesn't reload
           const description = document.querySelector("#description").value;
           if (description === ""){
                document.querySelector("#error").className = "";
                const error = document.querySelector("#error")
                error.innerHTML = "The filed should be not empty"
           } else {
               fetch("/todos/create", {
                   method: "POST",
                   body: JSON.stringify(
                       {"description": description}
                   ),
                   headers: {
                       "Content-Type": "application/json"
                   }
               })
               .then( (response) => {
                    return response.json();
               })
               .then( (jsonResponse) => {
                   console.log("jsonresponse", jsonResponse);
                   const liItem = document.createElement("LI");
                   liItem.innerHTML = jsonResponse["description"];
                   document.querySelector("#todos").appendChild(liItem);
               })
               .catch( (error)=> {
                    console.log(error)
                    document.querySelector("#error").className = "";
               })
           }

        }
    </script>
    </body>
</html>
