<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Todo App</title>
    </head>
    <style media="screen">
        .hidden {
            display: none;
        }
        ul {
            list-style: none;
            width: 300px;
            display: inline-block;
        }
        li {
            clear: both;
        }
        li button {
          -webkit-appearance: none;
          border: none;
          outline: none;
          color: red;
          float: right;
          cursor: pointer;
          font-size: 20px;
        }

        .items {
            display: flex;
            flex-flow: row;
            justify-content: space-around;
        }

        input {
            max-width: 100px;
        }

    </style>
    <body>
        <h1>Todo App</h1>
        <div id="error" class="hidden">
            Something went wrong!
        </div>
        <div class="items">
            <div class="lists-wrapper">
                <h2>TODO LISTS</h2>
                <div class="create-list">
                    <form id="createList">
                        <div class="create-list">
                            <label for="create_list">Create list</label>
                            <input type="text" id="new-list">
                            <input type="submit" id="submit-list" name="submit" value="Create List">
                        </div>
                    </form>
                </div>

                <ul id="lists">
                    {% for list in lists %}
                    <li>
                        <input type="checkbox" class="list-completed"
                            data-id = "{{ list.id }}"
                            {% if list.completed %} checked {% endif %}>
                        <a href="/lists/{{ list.id }}">{{ list.name }}</a>
                        <button type="button" id="delete-list" name = "button"
                            data-id = {{ list.id }}>&cross;</button>
                    </li>

                    {% endfor %}
                </ul>
            </div>

            <div class="todos-wrapper">
                <h2>TODO ITEMS</h2>
                <h4> {{ active_list.name }}</h4>
                <form id="form">
                    <div >
                        <label for="todo">Create Task</label>
                        <input type="text" id="description"
                            name="Task description">
                        <input type="submit" name="submit" id="submit" value="Create task">
                    </div>
                </form>

                <ul id="todos">
                    {% for todo in todos %}
                    <li>
                        <input class="check-completed" data-id = "{{ todo.id }}"
                            type="checkbox" {% if todo.completed %} checked {% endif %} />
                            <!-- checked here equals to true in the table -->
                        {{ todo.description }}
                        <button type="button" id="delete" data-id = "{{ todo.id }}"
                            name="button">&cross;</button>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    <script type="text/javascript">

        const deleteButtons = document.querySelectorAll("#delete");

        for (let i = 0; i < deleteButtons.length; i++) {
            const deleteButton = deleteButtons[i];
            deleteButton.addEventListener("click", (e)=>{
                e.preventDefault();
                console.log("delete event", e);
                const deleteId = e.target.dataset["id"];
                fetch ("/todos/" + deleteId + "/delete", {
                    method: "POST"
                })
                .then( () => {
                    document.querySelector("#error").className = "hidden";
                    const item = e.target.parentElement;
                    item.remove();
                    window.location.reload(true);
                })
                .catch( (error)=> {
                     console.log(error)
                     document.querySelector("#error").className = "";
                })
            })
        }

        const deleteLists = document.querySelectorAll("#delete-list");
        for (let i = 0; i < deleteLists.length; i++) {
            const deleteList = deleteLists[i];
            deleteList.addEventListener("click", (e) => {
                e.preventDefault();
                console.log("delete list event", e)
                const deleteId = e.target.dataset["id"];
                console.log(deleteId)
                fetch ("/lists/" + deleteId + "/delete", {
                    method: "POST"
                })
                .then( () => {
                    document.querySelector("#error").className = "hidden";
                    const item = e.target.parentElement;
                    item.remove();
                })
                .catch( (error)=> {
                     console.log(error)
                     document.querySelector("#error").className = "";
                })
            })
        }


        const checkboxes = document.querySelectorAll(".check-completed");
        for (let i = 0; i < checkboxes.length; i++) {
            const checkbox = checkboxes[i];
            checkbox.onchange = function(e){
                console.log("event", e);
                const todoId = e.target.dataset["id"];
                const newCompleted = e.target.checked; // sets check to true

                fetch ("/todos/" + todoId + "/set-completed", {
                    method: "POST",
                    body: JSON.stringify( {
                        'completed': newCompleted // may be can be just True?
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then( () => {
                    document.querySelector("#error").className = "hidden";
                })
                .catch( (error)=> {
                     console.log(error)
                     document.querySelector("#error").className = "";
                })
            }
        }

        const checkLists = document.querySelectorAll(".list-completed");
        for (let i = 0; i < checkLists.length; i++) {
            const checkList = checkLists[i];
            checkList.onchange = function (e) {
                console.log("list check event", e)

                const listId = e.target.dataset["id"]
                console.log("list id onchange", listId)
                const newCompleted = e.target.checked; // sets check to true
                fetch("/lists/" + listId + "/set-completed", {
                    method: "POST",
                    body: JSON.stringify({
                        "completed": newCompleted
                    }),
                    headers: {
                        'Content-Type': "application/json"
                    }
                })
                .then( (jsonResponse) => {
                    document.querySelector("#error").className = "hidden";

                    const checkCompleted = document.querySelector(".check-completed");

                    for (let i = 0; i<checkCompleted.length; i++) {
                        const checkbox = checkCompleted[i];
                        checkbox.checked = true;
                    }
                    window.location.reload(true);
                })
                .catch( (error)=> {
                     console.log(error)
                     document.querySelector("#error").className = "";
                })
            }
        };

        document.querySelector("#createList").onsubmit = function(e) {
           e.preventDefault();
           console.log("event list", e)
           const list_name = document.querySelector("#new-list").value;
           console.log("newlist", list_name)
           if (list_name === "") {
               const error =  document.querySelector("#error")
               error.className = "";
               error.innerHTML = "List name can't be empty"
           } else {
               fetch("/lists/" + list_name + "/create", {
                   method: "POST",
                   body: JSON.stringify({
                       "name": list_name
                   }),
                   headers: {
                       "Content-Type": "application/json"
                   }
               })
               .then( (response) => {
                   return response.json();
               })
               .then( (resJson) => {
                   console.log("list resjson");
                   const listItem = document.createElement("LI")
                   listItem.innerHTML = resJson["name"];
                   document.querySelector("#lists").appendChild(listItem);
                   window.location.reload(true);
               })
               .catch( (error)=> {
                    console.log(error)
                    document.querySelector("#error").className = "";
               })
           }
        }

        document.querySelector("#form").onsubmit = function(e) {
           e.preventDefault(); //so the page doesn't reload
           const description = document.querySelector("#description").value;
           if (description === ""){
                document.querySelector("#error").className = "";
                const error = document.querySelector("#error")
                error.innerHTML = "The filed should be not empty"
           } else {
               fetch("/todos/create", {
                   method: "POST",
                   body: JSON.stringify(
                       {"description": description,
                        "list_id": {{ active_list.id }}
                        }
                   ),
                   headers: {
                       "Content-Type": "application/json"
                   }
               })
               .then( (response) => {
                    return response.json();
               })
               .then( (jsonResponse) => {
                   console.log("jsonresponse", jsonResponse);
                   const liItem = document.createElement("LI");
                   liItem.innerHTML = jsonResponse["description"];
                   document.querySelector("#todos").appendChild(liItem);
                   window.location.reload(true);
               })
               .catch( (error)=> {
                    console.log(error)
                    document.querySelector("#error").className = "";
               })
           }
        }
    </script>
    </body>
</html>
