<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Todo App</title>
    </head>
    <body>
        <ul>
            {% for d in data %}
            <li>{{ d.description }}</li>
            {% endfor %}
        </ul>

        <form action="/create" method="post">
            <div >
                <label for="todo">Create a To-Do</label>
                <input type="text" name="todo">
            </div>
            <div>
                <input type="submit" name="submit" id="submit" value="Create">
            </div>
        </form>
    </body>
</html>
